# Python Basics

## Today Objectives


- Output & Input
- Variables in Python
- Type Conversions in Python
- Operators in Python
- Conditional Statements

In [1]:
print("Hello World")

Hello World

In [2]:
print("Today date is",29)

Today date is 29

In [3]:
print("Todays date is",29, sep = '-')

Todays date is-29

In [4]:
print(1,2,3,4,5,6, sep = '\t')

1	2	3	4	5	6

In [5]:
print(1,2,3,4,5,6, sep = 'abc')

1abc2abc3abc4abc5abc6

In [6]:
print("Hello World")
print("Hello World")
print("Hello World3")

Hello World
Hello World
Hello World3

In [7]:
print("Hello World", end = '\t')
print("Hello World")
print("Hello World3")

Hello World	Hello World
Hello World3

### Variables

It is the named memory locaion which holds some value


### Properties of declaring a variable

- It contain AZaz09_
- It shouldn't start with a numvber
- No special characters should included in variable name except _
- Keywords are not allowed
- Case Sensitive

In [8]:
a = 10
A = 5

In [11]:
a = 55
_a = 2256
# 1a = 66
# a-b = 23+66
_ = 625
a9 = 'Python'
a9_ = 'APSSDC'

### Data Type in Python


- Primary Data Types -> int, float, complex, string, boolean
- Secondary Data Types -> containers -> List, Tuple, Dictoinary, set

In [12]:
a = 55
b = 55.66
c = 5 + 6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python', 65, 5+6j, 55.665)
h = {'Nmae': 'python'}
i = {1,2,3,4}

In [13]:
print(type(a))

<class 'int'>

In [14]:
a = 55.66

print(type(a))

<class 'float'>

In [17]:
print(type(c), type(i))

<class 'complex'> <class 'set'>

In [24]:
a = input()

123

In [25]:
abc = 556.6

In [26]:
print(type(a))

<class 'str'>

In [27]:
b = input()

[1, 2, 3]

In [28]:
print(b, type(b))

[1, 2, 3] <class 'str'>

### Type Conversions

In [31]:
a = int(input())


print(a, type(a))

123
123 <class 'int'>

In [33]:
a = float(input())


print(a, type(a))

125.336
125.336 <class 'float'>

### Number System

- Decimal -> 10 -> 0-9
- Binary -> 2 -> 0,1
- Octal -> 8 -> 0-7
- Hexadecimal -> 16 -> 0-F

In [35]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [36]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [37]:
print(ord('a'))

97

In [38]:
print(chr(97))

a

### Operators in Python


- Arthematic Operator -> +, -, /, %, //, **
- Logical -> and, or, not
- Compaision/relational -> <, >, <=, >=, ==, !=
- Bitwise operator -> &(and), |(or), ~(Not), ^(XOR), >>(right shift), <<(left shift)
- Assignment operator -> +=, -=, /=, %=, //=, **==
- Identity operators -> is, not is
- Membership operators -> in, not in

In [42]:
a = 4
b = 10


print(a+b, a-b, a*b, a/b, a % b, a//b, a ** 2, sep = '->')

14->-6->40->0.4->4->0->16

### and (inp1 * inp2)

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|T
|T|F|F
|F|T|F
|F|F|F

### or (inp1 + inp2)

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|

### not

|inp1|not inp1 |
|----|----|
|F|T|
|T|F|

In [48]:
a = 1
b = 0
c = '0'

print(a and b, a or b, not a, a and c, type(a and c), not c, sep = '->')

0->1->False->0-><class 'str'>->False

In [46]:
print(c and a, a or c)

1 1

In [49]:
a = 5
b = 6
c = 0

print(a and b)

6

In [50]:
print(a and c, c and a)

0 0

In [51]:
a = 5
b = 6

print(a < b, a>b, a == b)

True False False

### Bitwise Operators


&, |, ~, ^


a = 4
b = 10

4  -> 0100
10 -> 1010
      ______
      0000 -> 0 -> and
      1110 -> 14 -> or
      
~a
4  -> 0100
      0001
     -0101 -> 5

In [52]:
a = 4
b = 10

print(a & b, a | b, ~a)

0 14 -5

### 

XOR -> A'B + AB'

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|F|
|T|F|T|
|F|T|T|
|F|F|F|

'''
4  -> 0100
10 -> 1010
      ____
      1110 ->14
'''

In [53]:
print(a ^ b)

14

### Left Shift and right shift



a = 4 -> 0100


a << 2 -> 010000 -> 16

a << 2 -> 0001 -> 1

In [54]:
a = 4

print( a << 2, a >> 2)

16 1

In [55]:
a = 5

a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

### Membership Operators

In [56]:
a = 'Python'
b = 'Py'
c = 'Py'

print(a in b, a in c, a not in c)

False False True

### Identity Operators

In [62]:
a = 5
b = 5.5
c = 5
d = [1,2,3]
e = [1,2,3]
f = d

In [66]:
print(f)

[1, 2, 3]

In [67]:
print(a == c, d == e, d == f)

True True True

In [69]:
print(id(a))
print(id(c))
print(id(d))
print(id(f))
print(id(e))

140719638194096
140719638194096
2055791182208
2055791182208
2055791182592

In [71]:
d.append('Python')

print(d)
print(f)

[1, 2, 3, 'Python', 'Python']
[1, 2, 3, 'Python', 'Python']

In [72]:
print(d,e,f)
print(d is e, d is f, e is f, d is not c)

[1, 2, 3, 'Python', 'Python'] [1, 2, 3] [1, 2, 3, 'Python', 'Python']
False True False